<ion-header>
  <ion-toolbar>
    <ion-title>dublinbikes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item 
  button 
  *ngFor="let item of results" 
  [routerLink]="['/','dublinbikes',item.number]"
>
<!---
{{item | json}}
-->
<ion-label>
<h3>{{item.name}}</h3>
</ion-label>
</ion-item>
</ion-list>

</ion-content>
