<ion-header>
  <ion-toolbar>
    <ion-title>bikedetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<!--{{stationInfo | json}} -->


<ion-card *ngIf="stationInfo">
    <ion-card-header>
      <ion-card-title>
        {{stationInfo.name}}
      </ion-card-title>
      <ion-card-subtitle>{{stationInfo.address}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-item>Latitude: {{stationInfo.position.lat}}</ion-item>
        <ion-item>Longitude: {{stationInfo.position.lng}}</ion-item>
      <ion-item>Available Stands: {{stationInfo.available_bike_stands}}</ion-item>
      <ion-item>Available Bikes: {{stationInfo.available_bikes}}</ion-item>
      
    </ion-card-content>

  </ion-card>

</ion-content>
