<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select SearchType</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
<ion-select-option value="">All</ion-select-option>
<ion-select-option value="movie">Movie</ion-select-option>
<ion-select-option value="series">Series</ion-select-option>
<ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>

  </ion-item>

<ion-list>

<ion-item 
    button 
    *ngFor="let item of (results) | async" 
    [routerLink]="['/','movies',item.imdbID]"
>
  <!---
  {{item | json}}
  -->
  <ion-label>
<h3>{{item.Title}}</h3>
</ion-label>
</ion-item>
</ion-list>

</ion-content>
