<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>moviedetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="movieInfo">
    <ion-card-header>
      <ion-card-title>
        {{movieInfo.Title}}
      </ion-card-title>
      <ion-card-subtitle>{{movieInfo?.Year}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img [src]="movieInfo.Poster" class="info-img" />
      <ion-item>{{movieInfo.imdbRating}}</ion-item>
      <ion-item>{{movieInfo.Director}}</ion-item>
    </ion-card-content>

  </ion-card>
</ion-content>